.map {
  min-height: calc(100vh - 64px);
}

.search-location {
  width: 76%;
  margin-left: 16px;
}

.text-left {
  text-align: left;
}

.infowindow .content {
  display: flex;
}

.infowindow .temp {
  margin: 0px auto;
}

.infowindow .current {
  font-size: 2em;
}

.loading {
  margin-top: 2em;
}

.error-msg {
  margin-top: 2em;
  color: red;
}

.infowindow .mdl-card__title {
  border-bottom: 1px #bdb solid;
}

.infowindow .mdl-card__title .mdl-card__title-text {
  font-weight: bold;
}

#pano {
  width: 160px;
  height: 160px;
}
